@use "../common" as *;
@use "connectedChoices";

.waiting-room-wrapper {
  background-color: #FCFCFC;
  .header {
    width: 100%;
    .header-row {
      height: 48px; // Height of the IconButtons
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        width: fit-content;
      }
    }
  }

  .room-info {
    display: grid;
    grid-template-rows: 70px 45px 1fr;
    grid-template-columns: 1fr 300px 1fr;
    
    .board-wrapper {
      grid-row: 2 / 4;
      padding: 10px;
      position: relative;
    }
    .room-title {
      grid-row: 1 / 2;
      grid-column: 1 / 4;
      h2 {
        font-size: 1.5rem;
      }
      .roomId {
        position: relative;
        text-decoration: underline;
        cursor: pointer;
      }
      .roomId::after {
        content: 'Click to Copy';
        position: absolute;
        font-size: 12px;
        right: 0;
        top: -30px;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 4px;
        color: white;
        width: 50px;
        height: 30px;
        opacity: 0;
        transition-duration: .3s;
      }
      .roomId:hover.roomId::after {
        opacity: 1;
      }
    }
    .my-name {
      font-weight: bold;
    }
    .members {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      .others {
        text-decoration: underline;
      }
    }

    .ask-host {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      place-self: center;
    }
    .host-control-panel {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      background-color: #4db6ac;
      color: white;
      place-self: center;
      height: 36px;
      width: 45px;
    }
  }

  .room-list {
    .input {
      .form-wrapper {
        margin: 8px;
        width: 500px;
      }
    }
    .refresh-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 500px;
      margin: 0 auto;
    }
    .rooms-wrapper {
      margin: 0 auto;
      width: 600px;
      box-sizing: border-box;
      text-align: center;
      .no-avail-rooms {
        margin-top: 15px;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
      }
      .room {
        width: 100%;
        .data{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          box-shadow: none;
          height: 50px;
          background-color:#00bcd4;
          border-radius: 4px;

          h3 {
            width: 48%; //both will have some padding now.
            height: 100%;
          }
          $border: 1 px solid #9e9e9e;
          .left {
            border-right: $border;
          }
          .right {
            border-left: $border;
          }
          .bold {
            font-weight: bold;
          }
        }
      }
    }
  }
}