@use "../common" as *;
@use "responsive" as *;
@use "roomInfo" as *;

.wrapper {
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  .header {
    margin-bottom: $section-divs;
    width: 100%;
    .header-row {
      height: 48px; // Height of the IconButtons
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        width: fit-content;
      }
    }
    h1 {
      text-transform: capitalize;
    }
  }

  @media only screen and (max-width: 480px) {
    .other-players {
      width: 300px;
    }
  }
}