@use "variables" as *;
.mafia-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition-property: background-color, color;
  transition-duration: $transition-time, $transition-time;
  .header {
    margin-bottom: 5px;
  }
  .mafia-game-info {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;

    > * {
      margin: 5px;
    }
    .column1 {
      flex-direction: column;
      grid-column: 1/2;
      justify-content: flex-start;
    }
    .column3 {
      flex-direction: column;
      grid-column: 3/4;
      
      justify-content: flex-start;

      > * {
        margin-bottom: 10px;
      }
    }
    .day-night-time {
      height: fit-content;
      .row {
        margin: 0 auto;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    
    .player-list {
      display: flex;
      flex-wrap: wrap;
      grid-column: 2 / 3;

      .player {
        background-color: red;
        width: 33.33333%;
        height: 60px;
        text-align: left;
        padding: 5px;
        display: flex;
        h4 {
          text-align: left;
        }
      }
    }
  }
}
