@use "variables" as *;
@use './styles/court.scss';
@use './styles/eventRecap.scss';
@use './styles/player.scss';
@use './styles/role.scss';
@use './styles/roleCount.scss';

.mafia-page-wrapper {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  transition: all $transition-time, height 0s, width 0s, margin 0s, padding 0s;

  .papermui {
    transition: all $transition-time, height 0s, width 0s, margin 0s, padding 0s;
  }
  .header {
    margin-bottom: 5px;
  }
  .mafia-game-info {
    height: 100%;
    display: grid;
    grid-template-columns: 500px 1fr 250px;
    

    .column1, .column2, .column3 {
      display: flex;
      flex-direction: column;
      height: 100%; 
    }
    .column1 {
      grid-column: 1/2;
    }
    .column2 {
      grid-column: 2/3;
    }
    .column3 {
      grid-column: 3/4;

      > * {
        margin-bottom: 10px;
      }
    }

    .day-night-time {
      height: fit-content;
      .row {
        margin: 0 auto;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    
    .column2 {
      display: flex;
    }
    .player-list {
      max-height: 380px;
      height: 380px;
      overflow-y: auto;
      padding-top: 2px;

      display: flex;
      flex-wrap: wrap;
    }
  }
}

.night {
  background-color: $night-bg;
  color: white;
  .mafia-game-info {
    .papermui {
      box-shadow: 0px 2px 1px -1px rgba(255,255,255,0.8),
      0px 1px 1px 0px rgba(255,255,255,0.86),
      0px 1px 3px 0px rgba(255,255,255,0.88);
    }
  }
}
