// These settings will only apply to the private switch
// And ONLY when the switch is being set in its initial creation.
.settings-wrapper {
  width: 100%;
  .setting {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    .switch-wrapper {
      display: flex;
      width: fit-content;
      align-items: center;
      margin: 0 auto;
    }
  }
}