.waiting-room-wrapper{
  .room-info {
    .settings-board-wrapper{
      grid-column: 1 / 2;
      height: fit-content;
      .settings-header {
        text-align: center;
      }
      .status {
        position: absolute;
        right: 10px;
        bottom: 10px;
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
      }
      .hidden {
        display: none;
      }
      .fade-out {
        opacity: 1;
        animation-name: fadeOut;
        animation-duration: 3s;
        animation-fill-mode: forwards;
      }
      .room-settings {
        .settings-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
        }
        .settings-list {
          width: 100%;
          .settings-item {
            display: flex;
            margin-top: 5px;
            justify-content: space-between;
            align-items: center;
            .item-name {
              width: 47.5%;
              text-align: right;
              h3 {
                font-weight: bold;
              }
            }
            .item-value {
              width: 47.5%;
              text-align: left;
            }
          }
        }
      }
    }

  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }
  25% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}