@use '~styles/constants' as k;

#d3-wrapper {
  height: 100%;
  width: 100%;
}
#d3div {
  margin: auto;
  width: 100%;
  position: relative;
}

.moveBelow {
  transform: translate(0, -100%);
}
.moveLeft {
  transform: translate(-100%, 0);
}

.moveBelow.moveLeft {
  transform: translate(-100%, -100%);
}
.tiny-text {
  font-size: 10px;
}
div.tooltip-donut {
  position: absolute;
  text-align: center;
  padding: .5rem;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1rem;
  width: fit-content;

  .tooltip-content {
    h3 {
      text-decoration: underline;
    }
  }
}

#d3div.hidden {
  display: none;
}

.screentime-visualizor {
  flex-grow: 1;
}