@use '~styles/constants' as k;

.screentime-wrapper {
  width: 100%;
  .data-entry {
    display: flex;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
    align-items: center;
  }
  .row-header {
    width: 120px;
    text-align: center;
    flex-grow: 0;
  }
  .date-entry {
    border: none;
    outline: none;
  }
  .date-entry:focus {
    border-bottom: 1px solid black;
  }
  .time-entry {
    align-self: center;
    // margin-left: 20px;
  }
  .setting {
    flex: 1;
    margin: 0 20px;
  }
  input {
    height: 24px;
    justify-self: center;
  }
}