@use '~styles/constants' as k;

#dropdown {
  position: absolute;
  left: 20px;
  top: 60px;
  width: 190px;
  background-color: gray;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  button {
    box-sizing: border-box;
    line-height: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  button.active, button:hover {
    background-color: red;
  }
}
#dropdown.hidden{
  // visibility: hidden;
  left: -9999px;
}

.screentime-editor {
  margin-top: 20px;
  width: 100%;
  .row-header {
    padding: 5px;
  }
  h3 {
    text-decoration: underline;
    margin-bottom: 5px;
  }
  input {
    border: none;
    outline: none;
    margin: 0 5px;
    border-bottom: 1px solid gray;
    font-size: 20px;
    height: 22px;
  }

  .data-entry-container {
    margin-top: 20px;
    padding: 0 5px;
    position: relative;
  }
  .activity-entry-container {
    padding-left: 15px;
    display: grid;
    grid-template-columns: 200px 50px 50px 50px;
    align-items: start;
    position: relative;
  }

  .activity-entry {
    z-index: 1;
  }
  
  .date-entry-container {
    width: 200px;
  }
  .time-entry {
    width: 25px;
  }
  .date-entry {
    padding-bottom: 0;
    width: 25px;
  }
  .date-entry.year {
    width: 50px;
  }

  input:hover {
    border-bottom: 1px solid black;
  }
  
  input:focus {
    margin-bottom: -2px;
    border-bottom: 2px solid rgb(0, 124, 207);
  }

  .time-container {
    position: relative;
    display: inline;
    input {
      padding-right: 15px;
    }
    p {
      position: absolute;
      top: 3px;
      right: 5px;
      height:0;
      color: gray;
    }
  }

  .btn {
    margin-bottom: 15px;
  }
  .errors {
    color: k.$error-color;
  }
}