@use '~styles/constants' as k;

.landing-page-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  .intro {
    width: inherit;
    height: inherit;
  }

  .journey-options {
    display: flex;
    margin-top: 20px;
    a {
      width: 50%;
      margin: 0 20px;
      text-decoration: none;
    }
    .clickable {
      padding: 30px;
    }
    .clickable:hover {
      box-shadow: k.$paper-mui-hover-box-shadow;
    }
  }
}

