.empty-court {

  flex: 1;
  .abstain {
    padding: 5px;
    width: 200px;
    margin: 5px auto;
    cursor: pointer;
  }
  .papermui.abstain {
    background-color: #b2ebf2;
    transition: background-color .2s;
  }
  .abstain:hover, .abstain.active {
    background-color: #4dd0e1;
  }
}
.court {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  
  .court-decision {
    .button-padding {
      padding: 10px;
    }
    .button {
      cursor: pointer;
      transition-duration: .3s;
    }
    .button.inactive {
      color: black;
      background-color: #bdbdbd;
    }
    .voters {
      max-height: 200px;
      overflow-y: auto;
      margin: 0 10px;
    }
  }

  .not-guilty-wrapper {
    grid-column: 1 / 2;
    grid-row: 1/2;
    .button {
      color: white;
      background-color: #26a69a;
    }
    .button:hover {
      background-color: #00897b;
    }
  }
  .guilty-wrapper {
    grid-column: 3 / 4;
    grid-row: 1/2;
    .button {
      color: white;
      background-color: #ef5350;
    }
    .button:hover {
      background-color: #c62828;
    }
  }
  .on-trial {
    grid-column: 2 / 3;
    grid-row: 1/2;

    h2 {
      text-decoration: underline;
    }
  }

}