
#event-recap {
  grid-column: 1/2;
  grid-row: 1/2;
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: unset;
  
  background-color: white;
  color: black;
  .description {
    color: gray;
  }

  .new-phase {
    margin: 0 auto;
    border-bottom: 1px solid #c0c0c0;
    width: 80%;
    h4 {
      color: #c0c0c0;
    }
  }
  ul {
    box-sizing: border-box;
    padding: 0 5px;
    list-style-position: inside;

    li {
      margin-top: 5px;
      width: fit-content;
    }
  }
}
#event-recap-input {
  width: 100%;
  
  .event-input, .icon-color {
    transition-duration: 1s;
    transition-property: color;
  }
  .MuiInput-underline:before {
    transition-duration: 1s;
    transition-property: border;
  }
  
}

.night {
  #event-recap-input {
    .MuiInput-underline:before {
      border-bottom: 1px solid rgba(255, 255, 255, 0.58) ;
    }
    .event-input {
      color: white;
    }
    .icon-color {
      color: white;
    }
  }
}