@use "../variables" as *;

.mafia-game-info{
.player-list {
  .my-player {
    border: 2px solid black;
  }
  .player {
    margin: 0 1%;
    width: 31%;
    height: 85px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
    
    .info {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid black;
      margin-bottom: 5px;

      transition: border-color $transition-time;
      .name {
        width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .dead-img-wrapper {
      height: 40px;
      width: 40px;
      margin: auto;
      .dead-img {
        height: 40px;
        width: 40px;
        margin: 0 auto;
      }
    }
    .my-player{
      border: 2px solid #0c0c0c;
    }

    .empty-area-wrapper {
      .empty-area {
        margin: 0 auto;
        width: 162px;
      }
    }
    .interact-button-wrapper {
      height: 45px;
      .interact-button {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        transition-duration: .2s;
        box-sizing: border-box;
        background-color: #1565c0;
        transition-duration: 0s;
        cursor: pointer;
        h2 {
          color: white;
          text-align: center;
          line-height: 45px;
        }
      }
      .interact-button.selected {
        border: 2px solid rgb(238, 238, 238);
        h2 {
          line-height: 41px;
        }
      }
    }

    .vote-button-wrapper {
      display: flex;
      height: 45px;
      align-items: center;
      justify-content: space-between;
      .vote-button {
        width: 45%;
        height: 100%;
        background-color: #64b5f6;
        border-radius: 4px;
        transition-duration: .2s;
        cursor: pointer;
        h2 {
          color: black;
          text-align: center;
          line-height: 45px;
        }
      }
      .vote-button:hover {
        background-color: #ef9a9a;
      }
      .vote-button.selected {
        background-color: #e98181;
        transition-duration: .2s;
      }
      .vote-button.disabled {
        cursor: not-allowed;
        background-color: gray;
      }
      .vote-button.selected.disabled {
        background-color: #995656;

      }
      .vote-count {
        text-align: center;
        width: 50%;
        .count {
          margin-top: 5px;
        }
      }
    }
  }
}
}
.night {
  .player-list {
    .player {
      background-color: $night-bg;
      color: white;
      .info {
        border-color: white;
      }
    }
  }
}