@use "../variables" as *;

#role-wrapper {
  color: inherit;
  height: 220px;
  position: relative;
  overflow: hidden;

  transition:
      background-color $transition-time,
      height .2s;
  .role-info {
    height: 50px;
    cursor: pointer;
    display: flex;

    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-rows: 28px 22px;
    
    .team {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .role {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .icon {
      grid-column: 2/3;
      grid-row: 1/3;
      width: 25px;
      height: 50px;
    }
  }
  .power-info, .win-condition {
    margin-top: 10px;
  }
}
#role-wrapper.mini {
  height: 50px;
}

#role-wrapper.Village {
  background-color: #a5d6a7;
}
#role-wrapper.Mafia {
  background-color: #ef9a9a;
}
.night {
  #role-wrapper.Village {
    background-color: #2e7d32;
  }
  #role-wrapper.Mafia {
    background-color: #c62828;
  }
}