@use '~styles/constants' as k;

.hoverable {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  cursor: default;
  position: relative;
  width: fit-content;
}
$tooltip-color: rgb(46,46,46);
.mohi-tooltip {
  top: 50%;
  left: 110%;
  opacity: 0;
  z-index: -1;
  position: absolute;
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
  width: 150px;
  background-color: $tooltip-color;
  color: white;
  transform: translate(0, -50%);
}
.anim-tooltip {
  animation: tooltip-fade-out .3s linear forwards;
}
.hover-trigger:hover + .anim-tooltip {
  animation: tooltip-fade-in .3s linear forwards;
}
// The little triangle connected to the tooltip box.
.hover-trigger + .anim-tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent $tooltip-color transparent transparent;
}

@keyframes tooltip-fade-in {
  0% {
    z-index: -1;
    opacity: 0;
  }
  1% {
    z-index: 1;
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}

@keyframes tooltip-fade-out {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    z-index: 1;
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}