@use '~styles/constants' as k;

.alignment-wrapper {
  padding: k.$mohithefish-padding;

  section {
    margin-top: 20px;
    width: 100%;
  }

  .algorithm {
    display: flex;
  }
  .parameters {
    width: 350px;
    margin-right: 20px;
  }
  h2 {
    text-decoration: underline;
  }

  .padleft {
    padding-left: 10px;
  }
  .hidden {
    visibility: hidden;
  }
  .no-height {
    height: 0;
    margin-top: 0;
  }

  .similarity-matrix {
    grid-template-columns: repeat(6, 40px);
    grid-template-rows: repeat(6, 30px);
  }
  #matrix-loading {
    grid-row-start: 2;
    grid-column-start: 2;
    align-self: center;
  }
  .matrix {
    display: grid;

    p {
      text-align: center;
      border: 1px solid black;
      font-size: 16px;
      line-height: 30px;
      border-radius: 2px;
      position: relative;
    }
    p.value {
      background-color: rgb(117, 117, 117);
      border-radius: 0;
    }
    p.category {
      font-weight: bold;
      background-color: rgb(206, 206, 206);
    }
    p.empty {
      background-color: rgb(30, 30, 30);
    }
    p.output {
      line-height: 45px;
    }
    P.answer {
      color: white;
      background-color: rgb(7, 97, 15);
    }
    input {
      font-family: Raleway;
      text-align: center;
      font-size: 16px;
    }
  }

  .switch-wrapper {
    display: flex;
    align-items: center;
  }
  .arrow {
    position: absolute;
    left: 0;
    top: 0;
  }
  .red-arrow, .green-arrow {
    transform: translate(-16px, -12px) rotate(-135deg);
  }
  .blue-arrow-up {
    transform: translate(15px, -12px) rotate(-90deg);
  }
  .blue-arrow-left {
    transform: translate(-17px, 10px) rotate(-180deg);
  }
  // .green-arrow {
  //   transform: rotate(-135deg);
  // }
  .error-matrix {
    color: #f44336;
  }
  .possible-symbols {
    p {
      margin-top: 5px;
      span {
        border: 1px solid black;
        padding: 2px 8px;
      }
    }
  }
}