@import "../common";

.waiting-room-wrapper {
  .connected-choices {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: $section-divs;

    .button {
      padding: 10px;
      border-radius: 4px;
      transition-duration: 0s;
    }

    .disabled {
      background-color: white;
    }
  }

  .room-info {
    .room-title {
      h2 { 
        font-size: 1.5rem;
      }
      .members {
        margin-top: 10px;
        .others {
          text-decoration: underline;
        }
      }
      .your-name {
        font-weight: bold;
      }
    }
  }
}