@use "../common" as *;
@use "./responsive" as *;

.wrapper {
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  .header-text {
    margin-bottom: $section-divs;
    h1 {
      margin: 10px 0;
      text-transform: capitalize;
    }
  }

  @media only screen and (max-width: 480px) {
    .other-players {
      width: 300px;
    }
  }
}